@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Instrument+Serif&family=Kaushan+Script&family=Lemonada:wght@700&family=Lilita+One&family=Oswald&family=Satisfy&family=Stick+No+Bills:wght@200;600;800&family=Tilt+Warp&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}